
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p class="p1">Final product made by: Abdul Moid Munawar</p>
    <p class="p2">Acknowledgment: I followed Angela Yu's blog website tutorial on udemy for a good portion of the code</p>

  </div>
</div>
</body>
</html>
